<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Formulário do Curso </title>
</head>

<body>
    <h1>Formulário de Curso</h1>

    <form th:action="@{/cursos/salvar}" method="post" th:object="${curso}">

        <input type="hidden" name="idCurso" th:field="*{idCurso}" />

        <label for="nomeCurso">Nome:</label>
        <input type="text" name="nomeCurso" th:field="*{nomeCurso}" required /><br><br>

        <label for="cargaHorariaCurso">Carga Horária:</label>
        <input type="number" name="cargaHorariaCurso" th:field="*{cargaHorariaCurso}" /><br><br>

        <button type="submit">Salvar</button>
    </form>
</body>


</html>