<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Inovatech</title>
</head>

<body>
    <h1 style="text-align:center;" >Bem-vindo ao Sistema Inovatech</h1>
    <nav>
        <ul>
            <li>
                <a th:href="@{/alunos/listar}">Gerenciar Alunos</a>
            </li>
        </ul>
        <ul>
            <li>
                <a th:href="@{/cursos/listar}">Gerenciar Cursos</a>
            </li>
        </ul>
        <ul>
            <li>
                <a th:href="@{/professores/listar}">Gerenciar Professores</a>
            </li>
        </ul>
        <ul>
            <li>
                <a th:href="@{/disciplinas/listar}">Gerenciar Disciplinas</a>
            </li>
        </ul>
    </nav>
</body>

</html>