<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-Vindo ao nosso Sistema Inovatech!</title>
</head>

<body>
    <h1 style="text-align: center;">
        Bem-vindo ao SIstema Inovatec!
    </h1>

    <h2 style="text-align: center;">
        <a th:href="@{/login}">Acesso ao Sistema Inovatech!</a>
    </h2>
    <h2 style="text-align: center;">
        <a th:href="@{/usuarios/criar}">Cadastra-se no Sistema Inovatech!</a>
    </h2>
</body>

</html>