<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Redefinir Senha</title>
</head>

<body>
    <h2>Redefinir Senha</h2>
    <p th:if="${errorMessage}" style="color: red;" th:text="${errorMessage}"></p>
    <form th:action="@{/updatePassword}" method="post">
        <input type="hidden" th:name="token" th:value="${token}" />
        <label for="newPassword">Nova Senha:</label>
        <input type="password" id="newPassword" name="newPassword" required>


        <label for="confirmPassword">Confirmar Nova Senha:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>


        <button type="submit">Redefinir Senha</button>
    </form>
</body>

</html>